.tabs{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 30vh;
    width: 100%;
}

.label{
    display:flex;
    justify-content: center;
    align-items: center;
    // background-color: bisque;
    height: 50px;
    width: 70px;
}
