
    .login{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        form{
            display: flex;
            flex-direction: column;
            align-items: center;

            input{
                width: 200px;
                height: 30px;
                margin: 10px;
            }

            button{
                width: 200px;
                height: 30px;
                border: none;
                background-color: aquamarine;
                font-weight: bold;
                cursor: pointer;
            }

            span{
                font-size: 12px;
                color: #4545;
                margin-top:0.5em;
            }
        }
    }


