

    .ColourSeparator{
        display: flex;
        height: 15vh;
        background: var(--primary);
        rotate: -5deg;
        width: 120%;
        margin-top: -40px;
        justify-content: center;
        align-items: center;
        width: 200%;
        
    }

