@media (max-width: 480px) {
    .MainNav{
        height: 120px;
        // background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;

            .logo{
                height: 100px;
            }
            .NavMenu{
                display: none;
            }
            .hamburgerMenu{
                position:absolute;
                top: 40px;
                right:25px;
                cursor: pointer;

                span{
                    display: block;
                    position: sticky;
                    width: 35px;
                    height: 7px;
                    border-radius: 20px;
                    background-color: var(--primary);
                    margin: 6px 0;   
                }
            }
    }
}