
*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    --primary: #fee140;
    --secondary:#242B2E; 
    --third:#a59792; 
    --fourth: #ffffff;
    height: 200vh;
}

@media (max-width: 480px) {

    h1{
        font-size: 2.6em;
        color: var(--secondary) ;
        line-height: 1.5em;
        margin: 1em;
        font-weight: bold;
    }
    h2{
        font-size: 2.1em;
        color:var(--secondary) ;
        line-height: 1.4em;
        padding: 1em;
        margin: 1em;
    }
    h3{
        font-size: 1.75em ;
        color:var(--secondary) ;
        line-height: 1.3em;
        opacity: 75%;
        margin: 1em;
    }
    h4{
        font-size: 1.5em ;
        color: var(--secondary);
        line-height: 1.2em;
        padding: 1em;
        margin:1em ;
    }
    h5{
        font-size:1.25em ;
        color:var(--third) ;
        line-height: 1.1em;
        padding: 1em;
        margin:1em ;
    }
    h6{
        font-size:5.25em ;
        font-weight: 900;
        color:var(--third) ;
        line-height: 1.1em;
        padding: 1em;
        margin:1em ;
    }
    p{
        font-size:1em;
        color: var(--secondary);
        opacity: 75%;
        padding: 1em;
        margin:1em ;
    }

    button{

    }
}